<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninjas HomePage</title>
        <link rel="stylesheet" type="text/css" href="/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1>Ninjas HomePage</h1>
        <p>Ninjas are like the black panther in that they only attack when provoked.</p>
        <p>Both are also stealthy, bear a black or near black color scheme, and reseve most of their activity for during the night.</p>

    </body>
</html>
