<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>New Dojo</title>
        <link rel="stylesheet" type="text/css" href="/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1>New Dojo</h1>
        <div class="container">
        <form>
              <div class="form-group col-md-4 offset-md-4">
                <label for="name">Dojo Name:</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter Name">
                <small id="nameHelp" class="form-text text-muted">Input new Dojo name.</small>
              </div>
              <div class="form-group col-md-4 offset-md-4">
                <label for="location">Location:</label>
                <input type="text" class="form-control" id="location" placeholder="Location">
              </div>
              <div class="form-group col-md-4 offset-md-4">
                <label for="location">Email:</label>
                <input type="email" class="form-control" id="location" placeholder="Email">
              </div>
              <div class="form-group form-check col-md-4 offset-md-6">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Send me email updates for this dojo!</label>
              </div>

              <div class="row col-md-4 offset-md-6">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
        </form>
    </div>
    </body>
</html>
