<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Group Chat</title>
      <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="js/chatroom.js"></script>
      <link rel="stylesheet" type="text/css" href="css/chatroom.css">
   </head>
   <body>
       <div id="chatroom">
           <h1>Welcome to Group Chat <%= username %></h1>
           <div id="users"></div>
       </div>

   </body>
</html>
