<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Cats Page</title>
        <link rel="stylesheet" type="text/css" href="/cats.css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <h1>Some Cool Cats</h1>
        <div id="cats"><img src="/cat1.png"><img src="/cat2.png"><img src="/cat3.png"><img src="/cat4.png"><img src="/cat5.png"><img src="/cat6.png"></div>
    </body>
</html>
